/deprecated
/src
node_modules
*node_modules
/.vscode
/playground

/templates/**/dist
/templates/**/build

/.env
*.env.development
*.env.dev
/.gitignore
/build.config.ts
/tsup.config.ts
/tsconfig.json